<form [formGroup]="rsvpForm"
  (ngSubmit)="onSubmit()">
  
  <extended-input [labelText]="'Meetup API Key'"
                  [control]="rsvpForm.controls.meetupApiKey">
    <input class="form-control"
           formControlName="meetupApiKey"
           #apiKey>
  </extended-input>

  <extended-input [labelText]="'Event ID'"
                  [control]="rsvpForm.controls.eventId">
    <input class="form-control" 
           formControlName="eventId"
           #eventId>
  </extended-input>

  <button class="btn btn-primary"
    [disabled]="!rsvpForm.valid">
    Submit
  </button>

</form>

<p>{{apiKey.className}}</p>
<p>Value: {{rsvpForm.value | json}}</p>
<p>Validation status: {{rsvpForm.valid}}</p>
<p>MeetupApiKey status: {{rsvpForm.controls.meetupApiKey.valid}}</p>
<p>eventId status: {{rsvpForm.controls.eventId.valid}}</p>
