.mat-input-container {
  width: 100%;
}

.between-xs {
  width: 100%;
}

.md-list {
  width: 100%;
}

.form-group {
  padding-top: 20px;
}

.names-available {
  padding-top: 20px;
}

img.winner {
  position: relative;
  width: 100%;
}

.shame {
  position: absolute;
  width: 100%;
  color: red;
  font-size: 158px;
  top: 300px;
  font-family: Georgia, sans-serif;
}
