<mat-toolbar color="primary">
  <span class="toolbar-title">{{title}}</span>
  <span class="toolbar-spacer"></span>
  <a mat-flat-button href="https://github.com/dalelotts/prize-o-tron/"> GitHub
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Github Icon">launch</mat-icon>
  </a>
</mat-toolbar>

<app-meetupevent></app-meetupevent>

<h2>Support this project</h2>
<p>I know this is a tiny application but many people use it to award meetup prizes (high 5 to all of us) - if you happen to use this application please click the button below and then star the project - it means a lot to all the contributors.</p>
<a mat-raised-button color="primary" href="https://github.com/dalelotts/prize-o-tron" aria-label="Star dalelotts/prize-o-tron on GitHub">GitHub <mat-icon class="example-icon" aria-hidden="false" aria-label="Github Icon">launch</mat-icon></a>
